<!-- src/views/editPermissions.ejs -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Permissões</title>
    <link rel="stylesheet" href="/css/edit-permissions.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<%- include('includes/navbar') %>


    <body>
        <h1>Editar Permissões de <%= user.username %>
        </h1>
        <form action="/managePermissions/<%= user.id %>/update" method="POST">
            <% modules.forEach(module=> { %>
                <div>
                    <label>
                        <input type="checkbox" name="permissions[<%= module %>]" value="true"
                            <%=userAccess.includes(module) ? 'checked' : '' %>
                        >
                        <%= module %>
                    </label>
                </div>
                <% }) %>
                    <button type="submit">Salvar Permissões</button>
        </form>


        <a href="/managePermissions">Voltar</a>
    </body>

</html>